h1, h2, h3, p, li, a, span {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}

p {
	font-size:16px
}
ul {
	padding: 0
}
.email-background {
/*background-color: #fcfcfc;*/
    background-image: url("http://kevincurbelo.com/term.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% -45px;
    padding-top: 10px;
}

.info-box {
    padding: 20px 0px;	
    text-align: center;
    color: #333;
}
.explination-cont {
    padding: 20px 0px;	
    color: #333;	
}

.bottom-cont {
	padding: 20px 0;
	background-color: #f2f2f2;
	color: #aaa;
}
.k-btn {
	border: 0;
	background:none;
	color: #fff;
	text-decoration: none;
	padding: 15px 0px;
	display: inline-block;
	border-radius: 7px;
	background-color: #002E5D;
	font-weight: 600;
	width: 100%;
	text-align: center;
}