h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}

p {
	font-size:16px
}
ul {
	padding: 0
}
.email-background {
}
.email-preheader {
	color:tan;
}
.email-preheader-text {
	margin: 0;
	text-align: center;
	color: #aaa;
	padding: 10px;
}
.email-container h1,
.email-container h2, 
.email-container h3 {
	color: #333;
}
.email-container h1 {
	margin-top: 0;
}
.email-container {
	max-width: 600px;
	margin:0 auto;
	padding: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}
.email-container img {
	max-width: 400px;
	display: block;
	margin:0 auto;
}
.cta {
	color: #fff;
	text-decoration: none;
	padding:20px 30px 20px 50px;
	border-radius: 5px;
	display: inline-block;
	background: url(http://kevincurbelo.com/chrt.png) no-repeat 20px 50%;
	background-size: 20px 20px;
		background-color: #457D97;
		font-size: 20px
}
.prod-img {
	padding: 20px 0;
	border-top: 1px solid #457D97;
	border-bottom: 1px solid #457D97;
}
.social-ul {
	text-align: center;
}
.social-li {
	display: inline-block;
	list-style-type: none;
	margin-right: 10px;
}
.social-icon {
	width: 25px;
}
.check-us-link {
	color: #aaa;

}

